<configuration>
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <append>false</append>
    <file>log/test.log</file>
    <encoder>
      <pattern>%d %-5level %logger{0}: %msg%n</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="FILE" />
  </root>

  <logger name="slick.basic.BasicBackend.action" level="debug" />
  <logger name="slick.jdbc" level="debug" />
</configuration>
